<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/normalize.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <h1 class="nav-title">Super Message Board</h1>
      <ul>
        <li><a href="/" class="home-link">Back To Home</a></li>
        <% if (user) {%>
          <li><a href="/log-out" class="home-link">Log Out</a></li>
        <% } else { %>
          <li><a href="/log-in" class="home-link">Log In</a></li>
        <%}%>
        <li><a href="/sign-up" class="home-link">Sign Up</a></li>
        <li><a href="/membership" class="home-link">Become A Member</a></li>
        <li><a href="/admin" class="home-link">Become An Admin</a></li>
      </ul>
    </nav>
    <main>
      <% if (user) {%>
        <a href="/new-post"><button class="new-post-button">+ Create Post</button></a>
      <% } %>
      <% message_list.forEach(message => { %>
        <div class="message">
          <h2 class="message-title"><%= message.messageTitle %></h2>
          <% if (typeof user !== "undefined" && user.is_member === true) {%>
          <p class="message-author"><%= message.author.username %></p>
          <% } %>
          <p class="message-body"><%= message.body %></p>
          <div class="message-footer">
            <% if (typeof user !== "undefined" && user.is_member === true) {%>
            <p class="message-time-stamp"><%= message.time_stamp_formatted %></p>
            <% } %>
            <% if (typeof user !== "undefined" && user.is_admin === true) {%>
              <form method="POST">
                  <input id="messageId" class="hidden-form-input" type="text" name="messageId" required value="<%= message._id %>">
                  <button class="message-delete-button" type="submit">Delete</button>
              </form>
            <% } %>
          </div>
        </div>
      <% }) %>
    </main>
  </body>
</html>
