<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/normalize.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
      <h1 class="nav-title">Super Message Board</h1>
      <ul>
        <li><a href="/" class="home-link">Back To Home</a></li>
        <% if (user) {%>
          <li><a href="/log-out" class="home-link">Log Out</a></li>
        <% } else { %>
          <li><a href="/log-in" class="home-link">Log In</a></li>
        <%}%>
        <li><a href="/sign-up" class="home-link">Sign Up</a></li>
        <li><a href="/membership" class="home-link">Become A Member</a></li>
        <li><a href="/admin" class="home-link">Become An Admin</a></li>
      </ul>
    </nav>
    <main>
      <% if (user) {%>
        <h1>ERROR: Already logged in</h1>
      <% } else { %>
        <h1><%= title %></h1>

        <form method="POST">
            <label for="fname">First Name:</label>
            <input id="fname" class="form-input" type="text" placeholder="John" name="fname" required value="<%= (typeof first_name === 'undefined' ? '' : first_name) %>">
            <label for="lname">Last Name:</label>
            <input id="lname" class="form-input" type="text" placeholder="Doe" name="lname" required value="<%= (typeof last_name === 'undefined' ? '' : last_name) %>">
            <label for="uname">Username:</label>
            <input id="uname" class="form-input" type="text" placeholder="DoughyJoe101" name="uname" required value="<%= (typeof username === 'undefined' ? '' : username) %>">
            <label for="password">Password:</label>
            <input id="password" class="form-input" type="password" name="password" required value="<%= (typeof password === 'undefined' ? '' : password) %>">
            <label for="confirmPassword">Confirm Password:</label>
            <input id="confirmPassword" class="form-input" type="password" name="confirmPassword" required value="<%= (typeof confirmPassword === 'undefined' ? '' : confirmPassword) %>">
            <button class="submit-button" type="submit">Submit</button>
        </form>
        
        <% if (typeof errors !== 'undefined') { %>
          <ul class="error">
            <% errors.forEach(function(error) { %>
              <li><%= error.msg %></li>
            <% }); %>
          </ul>
        <% } %>
      <%}%>
    </main>
  </body>
</html>
